# Sentiment Scoring on real dataset

In [6]:
import pandas as pd
import re
import textwrap

import nltk
from nltk.corpus import gutenberg

from nltk.sentiment.vader import SentimentIntensityAnalyzer

from textblob import TextBlob
from textblob import Word

from afinn import Afinn

In [7]:
col_list=["date", "tweet"]
df = pd.read_csv("dataset/twitter-data-2.csv", usecols=col_list, engine='python')
#df

In [8]:
#Remove http links from dataframe
def remove_url(string):
    result = re.sub(r"http\S+", "",string)
    result = re.sub(r"pic.twitter.com\S+", "",string)
    result=result.encode("ascii","ignore").decode()
    return result

df['tweet']=df['tweet'].fillna('').apply(lambda cw : remove_url(cw))
df

            date                                              tweet
0     2020-03-16  please fucking explain to me how this was a bl...
1     2020-03-16                                    welcome to 2020
2     2020-03-15     I think hes a 10, don't worry Simon i got you.
3     2020-03-14
4     2020-03-14
...          ...                                                ...
6815  2019-04-02  Wow, all you had to do is say "I know" somebod...
6816  2019-04-02                                    Check the date.
6817  2019-04-02                                         Check date
6818  2019-04-02           Why buy a switch instead of a console...
6819  2019-04-01                                                 ok

[6820 rows x 2 columns]

In [9]:
#Get SentimentPolarity for each tweet
def getTextPolarity(txt):
    return TextBlob(txt).sentiment.polarity

# TextBlob Sentiment Scale -1 to +1

df['Polarity'] = df['tweet'].apply(getTextPolarity)

In [10]:
sen = """When learning data science, you shouldn't get discouraged!
Challenges and setbacks aren't failures, they're just part of the journey. You've got this!"""
TextBlob(sen).sentiment.polarity

0.0

In [11]:

sid=SentimentIntensityAnalyzer()
# Add a new column with Vader scores 

# Vader Scale -4 to +4

df['VaderScore'] = (df['tweet'].apply(lambda review:sid.polarity_scores(review))).apply(lambda d:d['compound'])

In [12]:
sentence1="a society more adapted to consumerism than ideology"
sentence2 = """When learning data science, you shouldn't get discouraged!
Challenges and setbacks aren't failures, they're just part of the journey. You've got this!"""
##sid.polarity_scores(sentence1)
sid.polarity_scores(sentence2)

{'neg': 0.048, 'neu': 0.744, 'pos': 0.208, 'compound': 0.6249}

In [13]:
af = Afinn()

#Get SentimentPolarity for each tweet
def getAfinnScore(txt):
    return af.score(txt)

# Afinn Scale -5 to +5

df['AfinnScore'] = df['tweet'].apply(getAfinnScore)

# or do the following with no function call
#df['afinn_score_new'] = df['tweet'].apply(af.score)

In [16]:
s2= 'hes kind and smart'
s3='we are kind to good people'
s4='you are very depressed and dying'
print(af.score(s2))
print(af.score(s4))
sentence="a society more adapted to consumerism than ideology"
af.score(sentence)

3.0
-5.0

0.0

In [17]:
df

,date,tweet,Polarity,VaderScore,AfinnScore
0,2020-03-16,please fucking explain to me how this was a bl...,-0.6,0.6705,0.0
1,2020-03-16,welcome to 2020,0.8,0.4588,2.0
2,2020-03-15,"I think hes a 10, don't worry Simon i got you.",0.0,0.3412,-3.0
3,2020-03-14,,0.0,0.0000,0.0
4,2020-03-14,,0.0,0.0000,0.0
...,...,...,...,...,...
6815,2019-04-02,"Wow, all you had to do is say ""I know"" somebod...",0.1,0.5859,4.0
6816,2019-04-02,Check the date.,0.0,0.0000,0.0
6817,2019-04-02,Check date,0.0,0.0000,0.0
6818,2019-04-02,Why buy a switch instead of a console...,0.0,0.0000,0.0
6819,2019-04-01,ok,0.5,0.2960,0.0

# Scoring the example sentences

In [18]:
s1="Keep it up!!"
print(TextBlob(s1).sentiment.polarity)
print(sid.polarity_scores(s1))
print(af.score(s1))

s2="""New York City on Tuesday declared a public health emergency and ordered mandatory measles vaccinations amid an outbreak, becoming the latest national flash point over refusals to inoculate against dangerous diseases.

At least 285 people have contracted measles in the city since September, mostly in Brooklynâ€™s Williamsburg neighborhood. The order covers four Zip codes there, Mayor Bill de Blasio (D) said Tuesday.

The mandate orders all unvaccinated people in the area, including a concentration of Orthodox Jews, to receive inoculations, including for children as young as 6 months old. Anyone who resists could be fined up to $1,000."""

print(TextBlob(s2).sentiment.polarity)
print(sid.polarity_scores(s2))
print(af.score(s2))

0.0
{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
0.0
0.06863636363636365
{'neg': 0.058, 'neu': 0.929, 'pos': 0.013, 'compound': -0.6597}
-8.0

In [19]:
#Just a testing of TextBLOB

txt1="I am happy"
txt2="You are sad"
txt3="Are you going to play?"
txt4="Tiff was extremely depressed at the party"
txt5="I was reading a book named Politics"
txt6="I got the first prize. Wuhoooo!! I am extremely happy"
txt7="I am going to suicide"
txt8="Suicide"
txt9="Die"
#txt10="I was reading a book named Politics"

txt0= "A letter illness, poem I wrote struggle mental disorder NationalPoetryMonth MentalHealthMonday MentalHealthAwareness MentalHealthMatters bipolardisorder BPDChat 84 men die suicide every single week UK. That's one man taking life every two hours. Men, weak struggling mental illness. You le man.Please suffer silence, world need here! A reminder AprilFools: okay joke suicide, rape, abuse, self harm"

p1= TextBlob(txt1).sentiment.polarity
p2= TextBlob(txt2).sentiment.polarity
p3= TextBlob(txt3).sentiment.polarity
p4= TextBlob(txt4).sentiment.polarity
p5= TextBlob(txt5).sentiment.polarity
p6= TextBlob(txt6).sentiment.polarity
p7= TextBlob(txt7).sentiment.polarity
p8= TextBlob(txt8).sentiment.polarity
p9= TextBlob(txt9).sentiment.polarity

p0= TextBlob(txt0).sentiment.polarity

print(p1,"\n",p2,"\n",p3,"\n",p4,"\n",p5,"\n",p6,"\n",p7,"\n",p8,"\n",p9,"\n")


print("\nLast sentence' polarity is ", p0)


print(af.score(txt0))

0.8
 -0.5
 0.0
 -0.125
 0.0
 0.5953125
 0.0
 0.0
 0.0


Last sentence' polarity is  -0.034285714285714294
-27.0

In [20]:
sen="Do you remember when you joined Twitter? I do! #MyTwitterAnniversary pic.twitter.com/c9VVBmYKuI Who here has heard of #factorfiveleiden ?    I just got diagnosed in July and already have had my second blood clot occurrence. Right now itÃ¢â‚¬â„¢s a #PE in the right lower lobe of my right lung. This is painful and of course, no pain recourse. Tired. Reallllll tired. You fucked it all up... way to go fucktard. https://twitter.com/Freeyourmindkid/status/1215481746285846528Ã‚Â Ã¢â‚¬Â¦"
sen=sen.encode("ascii","ignore").decode()

#Remove links
sen=re.sub(r"http\S+", "",sen)
sen=re.sub(r"pic.twitter\S+", "",sen)

#Get SentimentPolarity for each tweet
blob_score = TextBlob(sen).sentiment.polarity

vader_score = sid.polarity_scores(sen)

af_score = af.score(sen)

print("Sentence : \n", sen)

print("\nTextBLOB Polarity Score : ", blob_score)

print("\nVader Sentiment Score : ", vader_score)

print("\nAfinn Score : ", af_score)

Sentence :
 Do you remember when you joined Twitter? I do! #MyTwitterAnniversary  Who here has heard of #factorfiveleiden ?    I just got diagnosed in July and already have had my second blood clot occurrence. Right now its a #PE in the right lower lobe of my right lung. This is painful and of course, no pain recourse. Tired. Reallllll tired. You fucked it all up... way to go fucktard.

TextBLOB Polarity Score :  -0.15535714285714286

Vader Sentiment Score :  {'neg': 0.317, 'neu': 0.683, 'pos': 0.0, 'compound': -0.9765}

Afinn Score :  -17.0